/* Apply background color to the entire header */
.anchor-pane {
    -fx-background-color: #454545;
    -fx-padding: 10px;
}

/* Style the main title */
.label {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-padding: 5px;
    -fx-alignment: center-left;
}

/* Align label inside VBox */
.vbox {
    -fx-alignment: center-left;
    -fx-padding: 5px 20px;
}

/* Style the HBox container for controls */
.hbox {
    -fx-alignment: center-left;
    -fx-spacing: 25px;
    -fx-padding: 0px; /* Ensure no extra padding */
    -fx-margin-bottom: 15px; /* Hinzugefügt für Margin unten */
}

/* Style the Search TextField */
.text-field {
    -fx-background-color: #ffffff;
    -fx-text-fill: #ffa81a;
    -fx-font-size: 14px;
    -fx-border-color: #ffa81a;
    -fx-border-radius: 10px;
    -fx-pref-height: 30px;
    -fx-padding: 5px;

    -fx-background-insets: 0;
    -fx-background-radius: 10px;
}

/* Style the Genre ComboBox */
.combo-box {
    -fx-background-color: white;
    -fx-border-color: #ffa81a;
    -fx-border-radius: 5px;
    -fx-pref-height: 30px;
    -fx-text-fill: #ffa81a;
    -fx-background-insets: 0;
    -fx-background-radius: 10px;
}

/* Style buttons */
.button {
    -fx-background-color: #ffa81a;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
    -fx-cursor: hand;
    -fx-pref-height: 30px;
    -fx-transition: 0.3s;
}

/* Hover effect for buttons */
.button:hover {
    -fx-background-color: #ffa81f;
}

/* Pressed effect for buttons */
.button:pressed {
    -fx-background-color: #f8a81a;
}